/* products */
.card {
    white-space: wrap;
    @apply
      relative max-w-[24em] w-[200px] rounded-md p-[1em] bg-[#fff] shadow z-[2] overflow-hidden
  }
  .logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
    
    & img {
      @apply
        h-[2em]
   }
  
    & .AddToCart {
      font-size: 1.8em;
      color: gray;
      cursor: pointer;
      transition: color 0.3s ease;
      &:hover {
        color: black;
      }
    }  
  
 }
 .img {
   @apply
     h-[150px] w-full z-[-1]
 }
 .info {
   & .name {
     font-weight: 500;
     @apply
       text-[1.2em] text-black
  }
  
  & p {
    font-weight: 300;
    @apply 
      text-[0.8em] text-black
  }
 }
 .price {
   font-weight: 600;
   @apply
   m-0 text-center text-[1em] text-black
 }


/* product details */
.container {
 padding: 20px 10px;
 border-radius: 16px;
 margin: 10px auto;
 display: flex;
 gap: 10px;
 width: 95%;
 background: white;
 
 & img {
 width: 100%;
 height: 100%;
 border-radius: 18px;
}
}
.panel {
 flex: 0.4;
 height: 30vh;
 border-radius: 20px;
 cursor: pointer;
 transition: all .7s cubic-bezier(.47,1.64,.41,.8);
}
.panel.active {
 flex: 4;
}


/* buy button */
.addjust {
 border-top-radius: 20px;
 margin: 5px auto;
 text-align: center;
 width: 100%;
 padding: 0 10px;
 transition-duration: 0.6s;
 height: 0;
 background-color: white;
 overflow: hidden;
}